<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.android.tmdb">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
             launchmode as single top to retain the state of the main fragment(stop creating fragment everytime)
                https://developer.android.com/guide/topics/manifest/activity-element.html#lmode
        -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Child activity to display Movie information -->
        <activity
            android:name=".MovieInfoActivity"
            android:label="Movie Info"
            android:parentActivityName=".MainActivity"></activity>

        <!-- Registering content provider -->
        <provider
            android:name=".contentprovider.FavoritesContentProvider"
            android:authorities="com.udacity.android.tmdb.contentprovider"
            android:enabled="true"
            android:exported="true"></provider>
    </application>

</manifest>